# Configuración del Google Apps Script
# Reemplaza esto con tu URL real de Google Apps Script
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbz4Ul8Qg4W78honKbEa4MXCjEEI-gvjZpKoVOKcyUVeuIAK38RgOcj6EEnUiwgsUrLqgg/exec
